<p>Artist: <%= @concert.artist %></p>
<p>Genre: <%= @concert.genre %></p>
<p>Schedule: <%= @concert.concert_date %></p>
<p>City: <%= @concert.city %></p>
<p>State: <%= @concert.state %></p>

<p><%= link_to "Cancel This Concert", "/concerts/#{@concert.id}", method: :delete %></p>